/**Test push comment **/ 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #012a46;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  top: 25%;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  border: none;
  margin: auto;
  padding: 20px;
  margin-bottom: 19px;
  border-radius: 30px;
  width: 205px;
  background: rgba(229, 229, 229, 0.15);
  font-family: fira code;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ff7661;
}

.startscreen {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.go {
  border: none;
  margin: auto;
  padding: 18px;
  margin-top: 12px;
  border-radius: 30px;
  width: 180px;
  background: rgba(229, 229, 229, 0.15);
  color: #ff7661;
  font-weight: bold;
  font-family: fira code;
  font-size: 24px;
}

::placeholder {
  color: rgba(255, 118, 97, 0.55);
}

.button-one {
  border: none;
  margin: auto;
  padding: 18px;
  margin-top: 12px;
  border-radius: 30px;
  width: 180px;
  background: rgba(229, 229, 229, 0.15);
  color: #ff7661;
  font-weight: bold;
  font-family: fira code;
  font-size: 22px;
}

.button-two {
  border: none;
  margin: auto;
  padding: 18px;
  margin-top: 12px;
  border-radius: 30px;
  width: 220px;
  background: #ff7661;
  color: #012a46;
  font-weight: bold;
  font-family: fira code;
  font-size: 22px;
  margin-top: 80px;
}
