@import url("https://fonts.googleapis.com/css?family=Fira+Code|Rubik&display=swap");

.dh-image-bg {
  background-color: #25465d;
  width: 100%;
  height: 400px;
  margin: auto;
  margin-bottom: 0px;
}

.dh-image {
  padding: 10%;
  display: inline-block;
  margin: auto;
}
