@import url("https://fonts.googleapis.com/css?family=Fira+Code|Rubik&display=swap");


.dh-image-container {
  background-color: #25465d;
  width: 100%;
  height: 40vh;
  margin: auto;
  margin-bottom: 0px;
  position: relative;
  display: flex;

}

.wrapper{
  padding-top: 3vh;
  display: inline-block;
  padding-right: 10px;
}


.wrapper {
  padding-top: 3vh;
}


.wrapper-word {
  display: inline-block;
  padding-right: 10px;
}



.dh-image {
  display: flex; 
  align-content: unsafe;
  margin-left: auto;
  margin-right: auto;
}