@import url("https://fonts.googleapis.com/css?family=Fira+Code|Rubik&display=swap");

.space {
  padding-bottom: 30px;
  margin: 15px;
}

.arrow {
  padding: 10%;
  display: inline-block;
  margin: auto;
}

.arrow > img {
  width: 150px;
  -webkit-animation-name: rotation;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotation;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  -o-animation-name: rotation;
  -o-animation-duration: 1s;
  -o-animation-iteration-count: 1;
  -o-animation-timing-function: linear;
  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-height: 600px){
  .star-container{
    margin-bottom: 40px;
  }
}

@media only screen and (max-height: 736px){
  .star-container{
    margin-bottom: 65px;
  }
}

@media only screen and (max-height: 826px){
  .star-container{
    margin-bottom: 86px;
  }
}